body {
    background-color: #00ADB5;
}


hr {
    background-color: aqua;
    height: 4px;
    width: 50%;
}

h1,
h3,
p,
li,
tr,
hr {
    color: #222831;
}




.customImage {
    background: url(../images/Family.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;

}