body {
    background-color: purple;
}


hr {
    background-color: aqua;
    border-style: none;
    height: 2px;
    width: 30%;
}

h1,
h3,
p,
li,
tr,
hr {
    color: lightpink;
}




.customImage {
    background: url(../images/Family.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;

}